.profile {
    max-width: 880px;
    margin: 0 auto 57px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


@media only screen and (max-width: 900px) {
    .profile {
        flex-direction: column;
        width: 70%;
    }
}



@media screen and (max-width: 320px) {
    .profile {
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 38px;
    }
}

