.profile__container {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;

}

@media screen and (max-width: 430px) {
    .profile__container {
        flex-direction: column;
        align-items: center;
       
    }
}


.profile__container:last-of-type {
    width: 40%;
    justify-content: flex-end;

}

@media screen and (max-width: 320px) {
    .profile__container:last-of-type  {
        width: 100%;
    }
}