.footer {
    max-width: 880px;
    margin: 60px auto 60px;
    letter-spacing: 0.7px;
}

@media screen and (max-width: 900px) {
    .footer {
        width: 70%;
    }
}


@media screen and (max-width: 402px) {
    .footer {
       width: 282px;
        margin-top: 50px; 
    }
}